<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/ioBank/styling/styles.css">
    <title>IO bank</title>
</head>

<body>

<div id="navbar" class="navbar">

    <div id="navbar1" class="navbar1">
        <ul>
            <li id="close-icon"><a href="/ioBank">X</a></li>
        </ul>
    </div>
    <div id="navbar2" class="navbar2">
    </div>
</div>

<main>
    <div id="individual-client">

        <div id="personal-info" class="rectangle-individual-page">
            <div id="top-part">
                <div>
                    <img src="/ioBank/assets/clients-profile-pictures/client_pic.jpg" alt="client_pic" class="images">
                </div>
                <div id="name-edit">
                    <div>
                        <h2 th:text="${customerDTO.getFirstName()}"></h2>
                        <h2 th:text="${customerDTO.getLastName()}"></h2>
                        <h2></h2>
                    </div>
                    <div>
                        <a th:href="'edit-client=' +${customerDTO.getId}">
                            <button>Edit</button>
                        </a>
                        <a th:href="'delete-client=' +${customerDTO.getId}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>

            <div id="other-info">
                <h3>account number</h3>
                <h4 th:text="${customerDTO.getId()}"></h4>
                <h3>email</h3>
                <h4 th:text="${customerDTO.getEmail()}"></h4>
                <h3>phone number</h3>
                <h4 th:text="${customerDTO.getPhone()}"></h4>
            </div>

        </div>

        <div id="client-accounts">

            <h5>accounts list</h5>

            <ul>
                <li class="acc-id">ID</li>
                <li class="acc-balance">Balance</li>
                <li class="acc-type">Type</li>
                <li class="acc-actions">Actions</li>
                <li class="acc-edit">Edit</li>
            </ul>

            <div id="add-account" class="rectangle">
                <h6 class="acc-id">+</h6>
            </div>

            <div id="add-account" class="rectangle">
                <h6 class="acc-id">1</h6>
                <h6 class="acc-balance">12320,01€</h6>
                <p id="savings"></p>
                <h6 class="acc-type">savings</h6>
                <button class="button-actions">withdraw</button>
                <button class="button-actions">deposit</button>
                <button class="button-edit">delete</button>
            </div>

            <div id="add-account" class="rectangle">
                <h6 class="acc-id">2</h6>
                <h6 class="acc-balance">122,01€</h6>
                <p id="checking"></p>
                <h6 class="acc-type">checking</h6>
                <button class="button-actions">withdraw</button>
                <button class="button-actions">deposit</button>
                <button class="button-edit">delete</button>
            </div>

            <div id="add-account" class="rectangle">
                <h6 class="acc-id">3</h6>
                <h6 class="acc-balance">232,01€</h6>
                <p id="pension"></p>
                <h6 class="acc-type">pension</h6>
                <button class="button-actions">withdraw</button>
                <button class="button-actions">deposit</button>
                <button class="button-edit">delete</button>
            </div>

            <div id="Accounts-Sum">
                <ul>
                    <li class="acc-total-lettering">Total</li>
                    <li class="acc-total">23000,00€</li>
                    <button class="button-withdraw-all">withdraw all</button>
                </ul>
            </div>

        </div>

    </div>

</main>

</body>
</html>
