<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javabank</title>

    <link rel="stylesheet" href="/javabank/style/style.css" type="text/css">
    
</head>
<body class="homepage">

    <div th:if="${lastAction}" class="custom-alert success" role="alert">
        <strong>Action:</strong> <span th:text="${lastAction}">last action performed</span>
    </div>

    <div th:if="${failure}" class="custom-alert danger" role="alert">
        <strong>Warning:</strong> <span th:text="${failure}">last action performed</span>
    </div>

<div class="container">


    <div class="header">
        <h1>Customer list</h1>
        <a th:href="@{'add'}" class="btn CTA">Add new</a>
    </div>

    <div class="card-container">
        <div th:each="customer : ${customers}" class="card">
            <div class="avatar"
                 th:style="'background-image: url(\'' + '/javabank/assets/profile_pictures/' + ${customer.photoURL} + '\')'"></div>

            <div class="content">
                <div class="card-header">
                    <div class="title">
                        <h2 th:text="${customer.firstName + ' ' + customer.lastName}"></h2>
                    </div>
                    <div class="btn-container">
                        <a th:href="@{'/customer/' + ${customer.id}}" class="btn">View account</a>
                        <a th:href="@{'/customer/' + ${customer.id} + '/edit'}" class="btn">Edit</a>
                        <a th:href="@{'/customer/' + ${customer.id} + '/delete'}" class="btn">Delete</a>

                    </div>
                </div>
                <div class="card-details-container">
                    <div class="card-detail">
                        <h5>Phone number</h5>
                        <h4 th:text="${customer.phone}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Email</h5>
                        <h4 th:text="${customer.email}"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Number of accounts</h5>
                        <h4 th:text="${customer.numOfAccounts} + ' active accounts'"></h4>
                    </div>
                    <div class="card-detail">
                        <h5>Accounts total</h5>
                        <h4 th:text="${customer.balance}"></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>