<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ioBank/styling/styles.css">
    <title>IO bank - New Client</title>
</head>

<body>
<div id="navbar1" class="navbar1">
    <ul>
        <li id="close-icon"><a href="/ioBank">X</a></li>
    </ul>
</div>

<div class="rectangle-individual-page">
    <form th:object="${customerDTO}" th:action="${customerDTO.id == null}? '/ioBank/new-client' : '/ioBank/get/edit-client=' + ${customerDTO.id}" method="post">
        <input type="text" name="firstName" th:field="*{firstName}" th:value="${customerDTO.firstName}" placeholder="First Name" pattern="[A-Za-z ]+" required>
        <input type="text" name="lastName" th:field="*{lastName}" th:value="${customerDTO.lastName}" placeholder="Last Name" pattern="[A-Za-z ]+" required>
        <input type="email" name="email" th:field="*{email}" th:value="${customerDTO.email}" placeholder="Email" required>
        <input type="text" name="phone" th:field="*{phone}" th:value="${customerDTO.phone}" placeholder="Phone" pattern="[0-9+/-]+" required>
        <div>
            <input type="submit" value="Create Client">
        </div>
    </form>
</div>

</body>
</html>