  /* ---> Reset <--- */

  body {
    background-color: #181A1E;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  /* ---> Header Bar <--- */

  #navbar {
    background-color: #181A1E;
    padding: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
  }

  #navbar1 {
    width: 50%;
  }

  #navbar1 > ul {
    display: flex;
    justify-content: space-between;
    color: #535558;
    font-size: 30px;
    margin-left: 50px;
  }

  #navbar1 > ul li.highlighted {  /* "work around" visually show has if the page is in clients tab*/
    color: aliceblue;
  }

  #navbar1 > ul li:hover{
    color: aliceblue;
  }

  #navbar2 {
    width: 50%;
  }

  /* ---> Clients List Area <--- */

  main {
    margin-top: 120px;
    display: flex;
  }

  #left-margin{
    width: 110px;
  }

  #right-margin{
    width: 110px;
  }

  .all-rectangles{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
  }     

  #add-box{
    margin-left: 30px;
    margin-top: 230px;
    display: flex;
    align-items:flex-end;
    justify-content: left;
  }

  .images {
    max-width: 85%;
    width: auto;
    height: auto;
    border-radius: 20px;
  }

  #img{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #details{
    margin-top: 10px;
    margin-left: 25px;
  }

  #details2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rectangle {
    width: 310px;
    height: 400px;
    background-color: #181A1E;
    padding: 20px;
    margin: 50px;
    box-shadow: 
      -4px -4px 10px rgba(29, 31, 36, 0.8),
      6px 6px 10px rgba(19, 21, 24, 0.8),
      -15px -15px 20px rgba(44, 46, 52, 0.8),
      15px 15px 20px rgba(10, 11, 13, 0.8),
      inset -5px -5px 10px rgba(10, 11, 13, 0.4),
      inset 5px 5px 10px rgba(44, 46, 52, 0.4);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .rectangle:hover {
    box-shadow: 
    -15px -15px 20px rgba(44, 46, 52, 0.3),  
    15px 15px 20px rgba(10, 11, 13, 0.3),
    inset -10px -10px 20px rgba(36, 39, 44, 0.8),
    inset 10px 10px 20px rgba(8, 9, 10, 0.8);
  }

  a { /* Remove the bar under text (links) */
    text-decoration: none;  
  }

  h1 { /* "+" plus icon to add clients */
    margin: 0;
    font-size: 150px;
    color: aliceblue;
  }

  h2 { /* Client "Name" */
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: aliceblue;
  }

  h3 { /* Client "indicator - account number" */
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    color: rgb(168, 168, 168);
  }

  h4 { /* Client "actual account number" */
    font-size: 18px;
    margin-top: 0;
    color: aliceblue;
  }

  p {
    font-size: 16px;
  }

  /* ---> Footer Bar <--- */

  footer {
    background-color: #181A1E;
    padding: 20px;
  }

  /* ---> customer.html expecific <--- */
  /* ---> Individual Client Page <--- */


  #close-icon a {
    font-size: 40px;
    text-decoration: none;
    color: #535558;
  }

  #close-icon:hover a {
    color: aliceblue;
  }

  /* ---> Client Section <--- */

  #individual-client{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  /* ---> Client Profile Section <--- */

  .rectangle-individual-page {
    width: 400px;
    height: 650px;
    background-color: #181A1E;
    padding: 20px;
    margin: 50px;
    box-shadow: 
      -4px -4px 10px rgba(29, 31, 36, 0.8),
      6px 6px 10px rgba(19, 21, 24, 0.8),
      -15px -15px 20px rgba(44, 46, 52, 0.8),
      15px 15px 20px rgba(10, 11, 13, 0.8),
      inset -5px -5px 10px rgba(10, 11, 13, 0.4),
      inset 5px 5px 10px rgba(44, 46, 52, 0.4);
    border-radius: 20px;
    margin-left: 110px;
  }
  
  /* ---> Client Accounts Section <--- */

  #client-accounts{
    margin-left: 65px;
    padding: 10px;
    width: 1100px;
  }

  #client-accounts ul {
    display: flex;
    justify-content: flex-start;
    color: rgb(195, 197, 199);
    font-size: 18px;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    padding-right: 0;
  }

  #top-part{
    margin-right: 0;
    padding-right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #name-edit{
   
    margin-top: 80px;
    display: table-column;
    align-items: center;
    justify-content: center;
  }

  #other-info{
    margin-top: 50px;
  }

  #add-account{
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 40px;
    padding: 20;
    width: 1100px;
    height: 25px;
  }

  h5{
    margin: 0;
    padding: 0px;
    margin-top: 20px;
    color: aliceblue;
    font-size: 40px;
  }

  h6{
    font-size: 20px;
    margin: 0;
    color: aliceblue;
  }

  /* ---> Table Options Design Layout <--- */

  #Accounts-Sum ul {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin: 0;
    color: aliceblue;
  }

  .acc-id{
    display: flex;
    justify-content: center;
    width: 25px;
  }

  .acc-balance{
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    width: 200px;
  }

  .acc-type{
    display: flex;
    justify-content: flex-start;
    width: 200px;
  }

  .acc-actions{
    display: flex;
    justify-content: flex-start;
    width: 200px;
  }

  #checking{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 15px;
    background-color: #b4a947;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 10px;
  }
  #savings{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 15px;
    background-color: #4fb446;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 10px;
  }
  #pension{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 15px;
    background-color: #b13971;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .button-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(150, 155, 160);
    background-color: #5a73a5;
    border: 0;
    font-weight: bold;  
    border-radius: 15px;
  }

  .button-actions:hover {
    background-color: rgb(46, 111,  209);
    color: aliceblue;
  }

  .acc-edit{
    display: flex;
    justify-content: right;
    width: 100px;
    margin-left: 260px;
    margin-right: 0;
    padding-right: 0;
  }

  .button-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 300px;
    font-size: 20px;
    color: rgb(150, 155, 160);
    background-color: rgb(192, 106, 94);
    border: 0;
    font-weight: bold;  
    border-radius: 15px;
  }

  .button-edit:hover {
    background-color: rgb(211, 51, 30);
    color: aliceblue;
  }

  .acc-total-lettering{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 25px;
  }

  .acc-total{
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    width: 300px;
  }

  .button-withdraw-all{
    margin-top: 20px;
    margin-left: 660px;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    color: rgb(150, 155, 160);
    background-color: #5a73a5;
    border: 0;
    font-weight: bold;  
    border-radius: 15px;
    font-size: 20px;
  }

  .button-withdraw-all:hover {
    background-color: rgb(46, 111,  209);
    color: aliceblue;
  }

